//@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* Global */
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@400;600;800&display=swap');

// Colors
$primary: rgb(34, 34, 34);
$secondary: #113E21;
$accent1: #B38B59;
$accent2: #F0F0F0;
$accent3: #FEFEFE;

$purple: purple;
$white: #fff;
$blue: blue;
$green: green;
$silver: silver;
$silver-light: rgb(235, 235, 235);
$purple-light: rgb(189, 0, 189);

// Buttons
.btn {
    border: 1px solid silver;
}


/* Global */

body {
    color: $primary;
    background-color: $accent3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Macondo, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

// Nav
.navbar-light .navbar-toggler {
    font-size: 16px;
}

// Footer
footer {
    padding: 0 8%;
    font-size: 12px;
}

// Form inputs
.input-div {
    width: 400px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;

    .icon {
        position: absolute;
        padding: 10px;
        color: $accent1;
        min-width: 50px;
        text-align: center;
    }

    .pwd-toggle {
        position: absolute;
        padding: 10px;
        color: $accent1;
        min-width: 50px;
        text-align: center;
        right: 0;
        cursor: pointer;
    }
}

// Sign in
.signin {
    //border: 1px solid $accent2;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 4% 0;

    .signin-title {
        font-size: 1.5em;
        margin: 0 0 3% 0;
    }
}

.signin-form {
    display: flex;
    flex-direction: column;

    .signin-input {
        width: 400px;
        height: 50px;
        color: $secondary;
        outline: none;
        border: 1px solid $silver;
        padding-left: 50px;
        margin: 0 0 2% 0;

    }

    .signin-input:focus {
        border: 1px solid $accent1;

        &::placeholder {
            color: $accent1;
        }
    }

    .signin-btn {
        width: 100px;
        height: 40px;
        border-radius: 0;
        border-color: $secondary;
        color: $secondary;
        margin: 0 auto;
    }

    .signin-btn:hover {
        color: $accent1;
        border-color: $accent1;
    }

    .signup-link {
        color: $secondary;
        background-color: transparent;
        border: none;
        font-size: .9em;
        text-decoration: underline;
        margin: 2% auto 0 auto;

    }

    .signup-link:hover {
        color: $accent1
    }

}

// Sign up
.signup {
    //border: 1px solid $accent2;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 4% 0;

    .signup-title {
        font-size: 1.5em;
        margin: 0 0 3% 0;
    }
}

.signup-form {
    display: flex;
    flex-direction: column;

    .signup-input {
        width: 400px;
        height: 50px;
        color: $secondary;
        outline: none;
        border: 1px solid $silver;
        padding-left: 50px;
        margin: 0 0 2% 0;

    }

    .signup-input:focus {
        border: 1px solid $accent1;

        &::placeholder {
            color: $accent1;
        }
    }

    .signup-btn {
        width: 100px;
        height: 40px;
        border-radius: 0;
        border-color: $secondary;
        color: $secondary;
        margin: 0 auto;
    }

    .signup-btn:hover {
        color: $accent1;
        border-color: $accent1;
    }

    .signin-link {
        color: $secondary;
        background-color: transparent;
        border: none;
        font-size: .9em;
        text-decoration: underline;
        //width: 30%;
        margin: 2% auto 0 auto;
    }

    .signin-link:hover {
        color: $accent1
    }

}

// Home
.home {
    .hero {
        height: 90vh;
        // background-image: url('https://static.remove.bg/remove-bg-web/f8fbcafbd1f3872923a7108604df9ddb62a43564/assets/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png');
        background-image: url("assets/images/img1.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-size: 60%;
    }

    /*     .hero-img {
        width: 50%;
        //height: auto;
        //margin: 0 auto;
        margin: 0 0 0 50%;
        display: block;
        position: relative;
    } */

    .hero-text {
        //position: absolute;
        color: $secondary;
        top: 20%;
        padding: 5% 10%;
        font-family: Macondo;

        .headline {
            font-size: 3.5em;
            font-weight: 600;
            margin: 5% 0 5% 0;
        }

        .tagline {
            margin: 0 0 10% 0;
            font-size: 2em;
        }

        button {
            color: $accent2;
            background-color: $secondary;
            border: none;
            width: 20%;
        }

        button:hover {
            color: $accent2;
            background-color: $accent1;
        }
    }

    .products-title {
        text-align: center;
        margin-top: 5%;
        ;
    }

    .product-menu {
        border: 1px solid $accent2;
        text-align: center;
        padding: 2% 0;
        margin: .5% auto 2% auto;
        width: 80%;

        button {
            color: $accent1;
            border-color: $accent1;
        }

        button:hover {
            color: $secondary;
            border-color: $secondary;
        }
    }
}

// About
.about {
    height: 80vh;
    padding: 4% 8% 0 8%;

    .about-signature {
        width: 20%;
        max-width: 20%;
        height: auto;
        margin: 2% 0;
    }
}

// Contact

.contact {
    height: 80vh;
    padding: 4% 0 0 0;

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .contact-input {
        width: 400px;
        height: 50px;
        padding-left: 10px;
        outline: none;
        border: 1px solid $silver;
        margin: 0 0 5% 0;
    }

    .contact-input:focus {
        border-color: $accent1;

        &::placeholder {
            color: $accent1;
        }
    }

    .contact-textarea {
        height: 150px;
        padding-top: 10px;
        resize: none;
    }

    .contact-map {
        position: relative;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .contact-geoloc {
            color: $secondary;
            font-size: 2em;
            position: absolute;
            left: 20%;
            top: 20%;
        }

    }
}

.contact-btn {
    width: 100px;
    height: 40px;
    border-radius: 0;
    border-color: $secondary;
    color: $secondary;
}

.contact-btn:hover {
    color: $accent1;
    border-color: $accent1;
}

// Card
.card {
    width: 250px;
    height: 300px;
    border: 1px solid $accent2;
    margin: 1% 1%;
    overflow: hidden;
    box-shadow: 10px 10px 5px rgb(185, 185, 185, 0.1);

    .card-img {
        width: 200px;
        height: 180px;
        object-fit: contain;
    }

    .card-details {
        padding: 2% 0 2% 8%;
        margin: 2% 0;

        .card-price {
            font-weight: 600;
            font-size: 1.2em;
        }
    }

    .card-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }

    .card-btn {
        background-color: none;
        color: $secondary;
        border-color: $secondary;
        font-size: .8em;
    }

    .card-btn:hover {
        background-color: $secondary;
        color: $accent2;
    }

    &:hover {
        box-shadow: 10px 10px 5px rgb(185, 185, 185, 0.3);
    }
}

// Product detail
.product-details {
    .product-image {
        text-align: center;
        overflow: hidden;

        .img {
            width: 400px;
            height: auto;
            object-fit: contain;
        }
    }

    .product-info {
        border-left: 1px solid $accent2;
        padding: 2% 0 0 2%;

        .product-title {
            font-size: 1.2em;
            width: 80%;
        }

        .product-category {
            color: $accent1;
            width: 50%;

            i {
                margin-right: 2%;
            }
        }

        .product-price {
            font-size: 1.6em;
        }

        .product-description {
            color: $accent1;
            font-size: .9em;
            width: 80%;
        }

        .product-cart {
            color: $secondary;
            border-color: $secondary;
            margin: 0 0 0 10%;
        }

        .product-cart-div {
            width: 50%;
            display: flex;
            margin: 4% 0 4% 0;
        }
    }
}

.product-close-btn {
    //color: $accent1;
    //border-color: $accent1;
    position: relative;
    left: 89%;
    margin-top: 1%;
}

.cart {
    opacity: .1;
    position: absolute;
    left: 89%;
}


// 404 Page
.page404 {
    height: 60vh;
    text-align: center;
    padding: 5% 0 0 0;

    .title {
        font-size: 3em;
    }

    .text {
        color: $accent1;
        margin: 2% 0 0 0;
        font-size: 1.5em;
    }

    .back-btn {
        color: $secondary;
        border-color: $secondary;
        margin: 5% 0 0 0;
    }

    .back-btn:hover {
        color: $accent1;
        border-color: $accent1;
    }
}


/* // Test
.input-div {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid purple;
}
.input-div .icon {
    position: absolute;
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
    border: 1px solid blue;
}

.input-field {
    width: 100%;
    padding-left: 100px;
    border: 4px solid yellow;
}
//TEST */

.cart-icon {
    margin: 5px 20px 0 0;
    font-size: 20px;
    padding: 0;
}

.badge {
    position: absolute;
    margin-top: -35px;
    margin-left: 20px;
}



@media only screen and (max-width: 600px) {
    body {
        //font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    .signin-form {
        width: 100%;

        .input-div {
            width: 100%;
            margin: 5% 0;
        }

        .signin-input {
            width: 100%;
        }

        .signin-btn {
            margin-bottom: 5%;
            margin-top: 5%;
        }
    }

    .signup-form {
        width: 100%;

        .input-div {
            width: 100%;
            margin: 5% 0;
        }

        .signup-input {
            width: 100%;
        }

        .signup-btn {
            margin-bottom: 5%;
            margin-top: 5%;
        }
    }

    .about {
        height: 100%;
    }

    .contact {
        width: 100%;
        height: 100%;

        .side1 {
            width: 90%;
            margin: auto;

            .contact-form {
                width: 100%;

                .contact-input {
                    width: 100%;
                }
            }
        }

        .contact-map {
            width: 90%;
            margin: 4% auto;
        }
    }

}